@import 'style';

body {
  background-color: #fafafa;
}

#fh5co-portfolio {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#fh5co-sidebar {
  @extend #fh5co-portfolio;
  margin-bottom: 0;
}

.fh5co-portfolio-description {
  img {
    max-width: 100%;
  }
}

p.article-desc {
  color: #868f90;
  font-size: 0.65em;
}

h2.article-title {
  margin-bottom: 0px;
}

.container {
  @media (min-width: 1600px) {
    width: 75%;
  }

  @media (min-width: 769px) {
    width: 90%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.fh5co-portfolio-item {
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}


/* =================================================================== */
/* LightBox
====================================================================== */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox-block.align-float-left {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.lightbox-block img {
  max-width: 100%;
}

.lightbox-block.align-float-right {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

.lightbox img {
    max-width: 98%;
    max-height: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.lightbox-divider {
    background: #E0E0E0;
    width: 100%;
    height: 3px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 30px 0;
}
