/*
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
*/
/* line 7, ../../../sass/code_blocks/darkly.scss */
pre {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  /* horizontal scrolling */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  background: #343642;
  color: #C1C2C3;
  margin-bottom: 19px;
}

/* line 20, ../../../sass/code_blocks/darkly.scss */
code {
  color: #343642;
  background: #F3F3F3;
}

/* line 25, ../../../sass/code_blocks/darkly.scss */
.hll {
  background-color: #ffc;
}

/* line 26, ../../../sass/code_blocks/darkly.scss */
.gd {
  color: #2e3436;
  background-color: #0e1416;
}

/* line 27, ../../../sass/code_blocks/darkly.scss */
.gr {
  color: #eeeeec;
  background-color: #c00;
}

/* line 28, ../../../sass/code_blocks/darkly.scss */
.gi {
  color: #babdb6;
  background-color: #1f2b2d;
}

/* line 29, ../../../sass/code_blocks/darkly.scss */
.go {
  color: #2c3032;
  background-color: #2c3032;
}

/* line 30, ../../../sass/code_blocks/darkly.scss */
.kt {
  color: #e3e7df;
}

/* line 31, ../../../sass/code_blocks/darkly.scss */
.ni {
  color: #888a85;
}

/* line 32, ../../../sass/code_blocks/darkly.scss */
.c, .cm, .c1, .cs {
  color: #8D9684;
}

/* line 33, ../../../sass/code_blocks/darkly.scss */
.err, .g, .l, .n, .x, .p, .ge,
.gp, .gs, .gt, .ld, .s, .nc, .nd,
.ne, .nl, .nn, .nx, .py, .ow, .w, .sb,
.sc, .sd, .s2, .se, .sh, .si, .sx, .sr,
.s1, .ss, .bp {
  color: #C1C2C3;
}

/* line 38, ../../../sass/code_blocks/darkly.scss */
.k, .kc, .kd, .kn, .kp, .kr,
.nt {
  color: #729fcf;
}

/* line 40, ../../../sass/code_blocks/darkly.scss */
.cp, .gh, .gu, .na, .nf {
  color: #E9A94B;
}

/* line 41, ../../../sass/code_blocks/darkly.scss */
.m, .nb, .no, .mf, .mh, .mi, .mo,
.il {
  color: #8ae234;
}

/* line 43, ../../../sass/code_blocks/darkly.scss */
.o {
  color: #989DAA;
}

/* line 44, ../../../sass/code_blocks/darkly.scss */
.nv, .vc, .vg, .vi {
  color: #fff;
}
