/* line 1, ../../../sass/code_blocks/github.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../../../sass/code_blocks/github.scss */
.c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../../../sass/code_blocks/github.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../../../sass/code_blocks/github.scss */
.k {
  color: #000000;
  font-weight: bold;
}

/* Keyword */
/* line 5, ../../../sass/code_blocks/github.scss */
.o {
  color: #000000;
  font-weight: bold;
}

/* Operator */
/* line 6, ../../../sass/code_blocks/github.scss */
.cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../../../sass/code_blocks/github.scss */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Preproc */
/* line 8, ../../../sass/code_blocks/github.scss */
.c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../../../sass/code_blocks/github.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../../../sass/code_blocks/github.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../../../sass/code_blocks/github.scss */
.ge {
  color: #000000;
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../../../sass/code_blocks/github.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 13, ../../../sass/code_blocks/github.scss */
.gh {
  color: #999999;
}

/* Generic.Heading */
/* line 14, ../../../sass/code_blocks/github.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 15, ../../../sass/code_blocks/github.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 16, ../../../sass/code_blocks/github.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 17, ../../../sass/code_blocks/github.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 18, ../../../sass/code_blocks/github.scss */
.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 19, ../../../sass/code_blocks/github.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 20, ../../../sass/code_blocks/github.scss */
.kc {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 21, ../../../sass/code_blocks/github.scss */
.kd {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 22, ../../../sass/code_blocks/github.scss */
.kn {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 23, ../../../sass/code_blocks/github.scss */
.kp {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 24, ../../../sass/code_blocks/github.scss */
.kr {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 25, ../../../sass/code_blocks/github.scss */
.kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 26, ../../../sass/code_blocks/github.scss */
.m {
  color: #009999;
}

/* Literal.Number */
/* line 27, ../../../sass/code_blocks/github.scss */
.s {
  color: #d01040;
}

/* Literal.String */
/* line 28, ../../../sass/code_blocks/github.scss */
.na {
  color: #008080;
}

/* Name.Attribute */
/* line 29, ../../../sass/code_blocks/github.scss */
.nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 30, ../../../sass/code_blocks/github.scss */
.nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 31, ../../../sass/code_blocks/github.scss */
.no {
  color: #008080;
}

/* Name.Constant */
/* line 32, ../../../sass/code_blocks/github.scss */
.nd {
  color: #3c5d5d;
  font-weight: bold;
}

/* Name.Decorator */
/* line 33, ../../../sass/code_blocks/github.scss */
.ni {
  color: #800080;
}

/* Name.Entity */
/* line 34, ../../../sass/code_blocks/github.scss */
.ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../../../sass/code_blocks/github.scss */
.nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../../../sass/code_blocks/github.scss */
.nl {
  color: #990000;
  font-weight: bold;
}

/* Name.Label */
/* line 37, ../../../sass/code_blocks/github.scss */
.nn {
  color: #555555;
}

/* Name.Namespace */
/* line 38, ../../../sass/code_blocks/github.scss */
.nt {
  color: #000080;
}

/* Name.Tag */
/* line 39, ../../../sass/code_blocks/github.scss */
.nv {
  color: #008080;
}

/* Name.Variable */
/* line 40, ../../../sass/code_blocks/github.scss */
.ow {
  color: #000000;
  font-weight: bold;
}

/* Operator.Word */
/* line 41, ../../../sass/code_blocks/github.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 42, ../../../sass/code_blocks/github.scss */
.mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 43, ../../../sass/code_blocks/github.scss */
.mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 44, ../../../sass/code_blocks/github.scss */
.mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 45, ../../../sass/code_blocks/github.scss */
.mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 46, ../../../sass/code_blocks/github.scss */
.sb {
  color: #d01040;
}

/* Literal.String.Backtick */
/* line 47, ../../../sass/code_blocks/github.scss */
.sc {
  color: #d01040;
}

/* Literal.String.Char */
/* line 48, ../../../sass/code_blocks/github.scss */
.sd {
  color: #d01040;
}

/* Literal.String.Doc */
/* line 49, ../../../sass/code_blocks/github.scss */
.s2 {
  color: #d01040;
}

/* Literal.String.Double */
/* line 50, ../../../sass/code_blocks/github.scss */
.se {
  color: #d01040;
}

/* Literal.String.Escape */
/* line 51, ../../../sass/code_blocks/github.scss */
.sh {
  color: #d01040;
}

/* Literal.String.Heredoc */
/* line 52, ../../../sass/code_blocks/github.scss */
.si {
  color: #d01040;
}

/* Literal.String.Interpol */
/* line 53, ../../../sass/code_blocks/github.scss */
.sx {
  color: #d01040;
}

/* Literal.String.Other */
/* line 54, ../../../sass/code_blocks/github.scss */
.sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 55, ../../../sass/code_blocks/github.scss */
.s1 {
  color: #d01040;
}

/* Literal.String.Single */
/* line 56, ../../../sass/code_blocks/github.scss */
.ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 57, ../../../sass/code_blocks/github.scss */
.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 58, ../../../sass/code_blocks/github.scss */
.vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 59, ../../../sass/code_blocks/github.scss */
.vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 60, ../../../sass/code_blocks/github.scss */
.vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 61, ../../../sass/code_blocks/github.scss */
.il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
