/*
  Monokai Pygments Theme
*/
/* line 5, ../../../sass/code_blocks/monokai.scss */
pre {
  background: #343642;
  color: #F3F3F3;
}

/* line 11, ../../../sass/code_blocks/monokai.scss */
code {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
  color: #343642;
  background: #C1C2C3;
}

/* line 23, ../../../sass/code_blocks/monokai.scss */
.hll {
  background-color: #49483e;
}

/* line 24, ../../../sass/code_blocks/monokai.scss */
.c {
  color: #75715e;
}

/* Comment */
/* line 25, ../../../sass/code_blocks/monokai.scss */
.err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 26, ../../../sass/code_blocks/monokai.scss */
.k {
  color: #66d9ef;
}

/* Keyword */
/* line 27, ../../../sass/code_blocks/monokai.scss */
.l {
  color: #ae81ff;
}

/* Literal */
/* line 28, ../../../sass/code_blocks/monokai.scss */
.n {
  color: #f8f8f2;
}

/* Name */
/* line 29, ../../../sass/code_blocks/monokai.scss */
.o {
  color: #f92672;
}

/* Operator */
/* line 30, ../../../sass/code_blocks/monokai.scss */
.p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 31, ../../../sass/code_blocks/monokai.scss */
.cm {
  color: #75715e;
}

/* Comment.Multiline */
/* line 32, ../../../sass/code_blocks/monokai.scss */
.cp {
  color: #75715e;
}

/* Comment.Preproc */
/* line 33, ../../../sass/code_blocks/monokai.scss */
.c1 {
  color: #75715e;
}

/* Comment.Single */
/* line 34, ../../../sass/code_blocks/monokai.scss */
.cs {
  color: #75715e;
}

/* Comment.Special */
/* line 35, ../../../sass/code_blocks/monokai.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 36, ../../../sass/code_blocks/monokai.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 37, ../../../sass/code_blocks/monokai.scss */
.kc {
  color: #66d9ef;
}

/* Keyword.Constant */
/* line 38, ../../../sass/code_blocks/monokai.scss */
.kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
/* line 39, ../../../sass/code_blocks/monokai.scss */
.kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 40, ../../../sass/code_blocks/monokai.scss */
.kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* line 41, ../../../sass/code_blocks/monokai.scss */
.kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
/* line 42, ../../../sass/code_blocks/monokai.scss */
.kt {
  color: #66d9ef;
}

/* Keyword.Type */
/* line 43, ../../../sass/code_blocks/monokai.scss */
.ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 44, ../../../sass/code_blocks/monokai.scss */
.m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 45, ../../../sass/code_blocks/monokai.scss */
.s {
  color: #e6db74;
}

/* Literal.String */
/* line 46, ../../../sass/code_blocks/monokai.scss */
.na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 47, ../../../sass/code_blocks/monokai.scss */
.nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 48, ../../../sass/code_blocks/monokai.scss */
.nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 49, ../../../sass/code_blocks/monokai.scss */
.no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 50, ../../../sass/code_blocks/monokai.scss */
.nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 51, ../../../sass/code_blocks/monokai.scss */
.ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 52, ../../../sass/code_blocks/monokai.scss */
.ne {
  color: #a6e22e;
}

/* Name.Exception */
/* line 53, ../../../sass/code_blocks/monokai.scss */
.nf {
  color: #a6e22e;
}

/* Name.Function */
/* line 54, ../../../sass/code_blocks/monokai.scss */
.nl {
  color: #f8f8f2;
}

/* Name.Label */
/* line 55, ../../../sass/code_blocks/monokai.scss */
.nn {
  color: #f8f8f2;
}

/* Name.Namespace */
/* line 56, ../../../sass/code_blocks/monokai.scss */
.nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 57, ../../../sass/code_blocks/monokai.scss */
.py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 58, ../../../sass/code_blocks/monokai.scss */
.nt {
  color: #f92672;
}

/* Name.Tag */
/* line 59, ../../../sass/code_blocks/monokai.scss */
.nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 60, ../../../sass/code_blocks/monokai.scss */
.ow {
  color: #f92672;
}

/* Operator.Word */
/* line 61, ../../../sass/code_blocks/monokai.scss */
.w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 62, ../../../sass/code_blocks/monokai.scss */
.mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* line 63, ../../../sass/code_blocks/monokai.scss */
.mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
/* line 64, ../../../sass/code_blocks/monokai.scss */
.mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
/* line 65, ../../../sass/code_blocks/monokai.scss */
.mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
/* line 66, ../../../sass/code_blocks/monokai.scss */
.sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* line 67, ../../../sass/code_blocks/monokai.scss */
.sc {
  color: #e6db74;
}

/* Literal.String.Char */
/* line 68, ../../../sass/code_blocks/monokai.scss */
.sd {
  color: #e6db74;
}

/* Literal.String.Doc */
/* line 69, ../../../sass/code_blocks/monokai.scss */
.s2 {
  color: #e6db74;
}

/* Literal.String.Double */
/* line 70, ../../../sass/code_blocks/monokai.scss */
.se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 71, ../../../sass/code_blocks/monokai.scss */
.sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* line 72, ../../../sass/code_blocks/monokai.scss */
.si {
  color: #e6db74;
}

/* Literal.String.Interpol */
/* line 73, ../../../sass/code_blocks/monokai.scss */
.sx {
  color: #e6db74;
}

/* Literal.String.Other */
/* line 74, ../../../sass/code_blocks/monokai.scss */
.sr {
  color: #e6db74;
}

/* Literal.String.Regex */
/* line 75, ../../../sass/code_blocks/monokai.scss */
.s1 {
  color: #e6db74;
}

/* Literal.String.Single */
/* line 76, ../../../sass/code_blocks/monokai.scss */
.ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
/* line 77, ../../../sass/code_blocks/monokai.scss */
.bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* line 78, ../../../sass/code_blocks/monokai.scss */
.vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
/* line 79, ../../../sass/code_blocks/monokai.scss */
.vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
/* line 80, ../../../sass/code_blocks/monokai.scss */
.vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
/* line 81, ../../../sass/code_blocks/monokai.scss */
.il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
/* line 84, ../../../sass/code_blocks/monokai.scss */
.gu {
  color: #75715e;
}

/* Generic.Subheading & Diff Unified/Comment? */
/* line 85, ../../../sass/code_blocks/monokai.scss */
.gd {
  color: #f92672;
}

/* Generic.Deleted & Diff Deleted */
/* line 86, ../../../sass/code_blocks/monokai.scss */
.gi {
  color: #a6e22e;
}

/* Generic.Inserted & Diff Inserted */
