/*
  Tomorrow Night Pygments Theme
*/
/* line 5, ../../../sass/code_blocks/tomorrow_night.scss */
pre {
  background: #1d1f21;
  color: #c5c8c6;
}

/* line 6, ../../../sass/code_blocks/tomorrow_night.scss */
code {
  color: #1d1f21;
  background: #c5c8c6;
}

/* line 8, ../../../sass/code_blocks/tomorrow_night.scss */
.hll {
  background-color: #373b41;
}

/* line 9, ../../../sass/code_blocks/tomorrow_night.scss */
.c {
  color: #969896;
}

/* Comment */
/* line 10, ../../../sass/code_blocks/tomorrow_night.scss */
.err {
  color: #cc6666;
}

/* Error */
/* line 11, ../../../sass/code_blocks/tomorrow_night.scss */
.k {
  color: #b294bb;
}

/* Keyword */
/* line 12, ../../../sass/code_blocks/tomorrow_night.scss */
.l {
  color: #de935f;
}

/* Literal */
/* line 13, ../../../sass/code_blocks/tomorrow_night.scss */
.n {
  color: #c5c8c6;
}

/* Name */
/* line 14, ../../../sass/code_blocks/tomorrow_night.scss */
.o {
  color: #8abeb7;
}

/* Operator */
/* line 15, ../../../sass/code_blocks/tomorrow_night.scss */
.p {
  color: #c5c8c6;
}

/* Punctuation */
/* line 16, ../../../sass/code_blocks/tomorrow_night.scss */
.cm {
  color: #969896;
}

/* Comment.Multiline */
/* line 17, ../../../sass/code_blocks/tomorrow_night.scss */
.cp {
  color: #969896;
}

/* Comment.Preproc */
/* line 18, ../../../sass/code_blocks/tomorrow_night.scss */
.c1 {
  color: #969896;
}

/* Comment.Single */
/* line 19, ../../../sass/code_blocks/tomorrow_night.scss */
.cs {
  color: #969896;
}

/* Comment.Special */
/* line 20, ../../../sass/code_blocks/tomorrow_night.scss */
.gd {
  color: #cc6666;
}

/* Generic.Deleted */
/* line 21, ../../../sass/code_blocks/tomorrow_night.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 22, ../../../sass/code_blocks/tomorrow_night.scss */
.gh {
  color: #c5c8c6;
  font-weight: bold;
}

/* Generic.Heading */
/* line 23, ../../../sass/code_blocks/tomorrow_night.scss */
.gi {
  color: #b5bd68;
}

/* Generic.Inserted */
/* line 24, ../../../sass/code_blocks/tomorrow_night.scss */
.gp {
  color: #969896;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 25, ../../../sass/code_blocks/tomorrow_night.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 26, ../../../sass/code_blocks/tomorrow_night.scss */
.gu {
  color: #8abeb7;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 27, ../../../sass/code_blocks/tomorrow_night.scss */
.kc {
  color: #b294bb;
}

/* Keyword.Constant */
/* line 28, ../../../sass/code_blocks/tomorrow_night.scss */
.kd {
  color: #b294bb;
}

/* Keyword.Declaration */
/* line 29, ../../../sass/code_blocks/tomorrow_night.scss */
.kn {
  color: #8abeb7;
}

/* Keyword.Namespace */
/* line 30, ../../../sass/code_blocks/tomorrow_night.scss */
.kp {
  color: #b294bb;
}

/* Keyword.Pseudo */
/* line 31, ../../../sass/code_blocks/tomorrow_night.scss */
.kr {
  color: #b294bb;
}

/* Keyword.Reserved */
/* line 32, ../../../sass/code_blocks/tomorrow_night.scss */
.kt {
  color: #f0c674;
}

/* Keyword.Type */
/* line 33, ../../../sass/code_blocks/tomorrow_night.scss */
.ld {
  color: #b5bd68;
}

/* Literal.Date */
/* line 34, ../../../sass/code_blocks/tomorrow_night.scss */
.m {
  color: #de935f;
}

/* Literal.Number */
/* line 35, ../../../sass/code_blocks/tomorrow_night.scss */
.s {
  color: #b5bd68;
}

/* Literal.String */
/* line 36, ../../../sass/code_blocks/tomorrow_night.scss */
.na {
  color: #81a2be;
}

/* Name.Attribute */
/* line 37, ../../../sass/code_blocks/tomorrow_night.scss */
.nb {
  color: #c5c8c6;
}

/* Name.Builtin */
/* line 38, ../../../sass/code_blocks/tomorrow_night.scss */
.nc {
  color: #f0c674;
}

/* Name.Class */
/* line 39, ../../../sass/code_blocks/tomorrow_night.scss */
.no {
  color: #cc6666;
}

/* Name.Constant */
/* line 40, ../../../sass/code_blocks/tomorrow_night.scss */
.nd {
  color: #8abeb7;
}

/* Name.Decorator */
/* line 41, ../../../sass/code_blocks/tomorrow_night.scss */
.ni {
  color: #c5c8c6;
}

/* Name.Entity */
/* line 42, ../../../sass/code_blocks/tomorrow_night.scss */
.ne {
  color: #cc6666;
}

/* Name.Exception */
/* line 43, ../../../sass/code_blocks/tomorrow_night.scss */
.nf {
  color: #81a2be;
}

/* Name.Function */
/* line 44, ../../../sass/code_blocks/tomorrow_night.scss */
.nl {
  color: #c5c8c6;
}

/* Name.Label */
/* line 45, ../../../sass/code_blocks/tomorrow_night.scss */
.nn {
  color: #f0c674;
}

/* Name.Namespace */
/* line 46, ../../../sass/code_blocks/tomorrow_night.scss */
.nx {
  color: #81a2be;
}

/* Name.Other */
/* line 47, ../../../sass/code_blocks/tomorrow_night.scss */
.py {
  color: #c5c8c6;
}

/* Name.Property */
/* line 48, ../../../sass/code_blocks/tomorrow_night.scss */
.nt {
  color: #8abeb7;
}

/* Name.Tag */
/* line 49, ../../../sass/code_blocks/tomorrow_night.scss */
.nv {
  color: #cc6666;
}

/* Name.Variable */
/* line 50, ../../../sass/code_blocks/tomorrow_night.scss */
.ow {
  color: #8abeb7;
}

/* Operator.Word */
/* line 51, ../../../sass/code_blocks/tomorrow_night.scss */
.w {
  color: #c5c8c6;
}

/* Text.Whitespace */
/* line 52, ../../../sass/code_blocks/tomorrow_night.scss */
.mf {
  color: #de935f;
}

/* Literal.Number.Float */
/* line 53, ../../../sass/code_blocks/tomorrow_night.scss */
.mh {
  color: #de935f;
}

/* Literal.Number.Hex */
/* line 54, ../../../sass/code_blocks/tomorrow_night.scss */
.mi {
  color: #de935f;
}

/* Literal.Number.Integer */
/* line 55, ../../../sass/code_blocks/tomorrow_night.scss */
.mo {
  color: #de935f;
}

/* Literal.Number.Oct */
/* line 56, ../../../sass/code_blocks/tomorrow_night.scss */
.sb {
  color: #b5bd68;
}

/* Literal.String.Backtick */
/* line 57, ../../../sass/code_blocks/tomorrow_night.scss */
.sc {
  color: #c5c8c6;
}

/* Literal.String.Char */
/* line 58, ../../../sass/code_blocks/tomorrow_night.scss */
.sd {
  color: #969896;
}

/* Literal.String.Doc */
/* line 59, ../../../sass/code_blocks/tomorrow_night.scss */
.s2 {
  color: #b5bd68;
}

/* Literal.String.Double */
/* line 60, ../../../sass/code_blocks/tomorrow_night.scss */
.se {
  color: #de935f;
}

/* Literal.String.Escape */
/* line 61, ../../../sass/code_blocks/tomorrow_night.scss */
.sh {
  color: #b5bd68;
}

/* Literal.String.Heredoc */
/* line 62, ../../../sass/code_blocks/tomorrow_night.scss */
.si {
  color: #de935f;
}

/* Literal.String.Interpol */
/* line 63, ../../../sass/code_blocks/tomorrow_night.scss */
.sx {
  color: #b5bd68;
}

/* Literal.String.Other */
/* line 64, ../../../sass/code_blocks/tomorrow_night.scss */
.sr {
  color: #b5bd68;
}

/* Literal.String.Regex */
/* line 65, ../../../sass/code_blocks/tomorrow_night.scss */
.s1 {
  color: #b5bd68;
}

/* Literal.String.Single */
/* line 66, ../../../sass/code_blocks/tomorrow_night.scss */
.ss {
  color: #b5bd68;
}

/* Literal.String.Symbol */
/* line 67, ../../../sass/code_blocks/tomorrow_night.scss */
.bp {
  color: #c5c8c6;
}

/* Name.Builtin.Pseudo */
/* line 68, ../../../sass/code_blocks/tomorrow_night.scss */
.vc {
  color: #cc6666;
}

/* Name.Variable.Class */
/* line 69, ../../../sass/code_blocks/tomorrow_night.scss */
.vg {
  color: #cc6666;
}

/* Name.Variable.Global */
/* line 70, ../../../sass/code_blocks/tomorrow_night.scss */
.vi {
  color: #cc6666;
}

/* Name.Variable.Instance */
/* line 71, ../../../sass/code_blocks/tomorrow_night.scss */
.il {
  color: #de935f;
}

/* Literal.Number.Integer.Long */
