{% extends "with-sidebar.html" %}

{% block title %} - {{ article.title }}{% endblock title %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
        <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}

    {% for description in article.description %}
        <meta name="description" contents="{{description}}" />
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block text_slogan %}
<h1 class="article-title">{{ article.title }}</h1>
<p class="article-desc"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> | {{ article.locale_date }}</p>
{% endblock text_slogan %}
  

{% block content %}
	<div id="fh5co-portfolio">
		<div class="fh5co-portfolio-item ">
			<div class="fh5co-portfolio-description">
				<p class="animate-box">{{ article.content }}</p>
			</div>
		</div>

		{% if DISQUS_SITENAME and article.status != "draft" %}
		<div class="comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
						var disqus_shortname = '{{ DISQUS_SITENAME }}';
						var disqus_identifier = '{{ article.url }}';
						var disqus_url = '{{ SITEURL }}/{{ article.url }}';
						(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				</script>
				<noscript>Please enable JavaScript to view the comments.</noscript>
		</div>
    {% endif %}
	</div>
{% endblock content %}
