<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ AUTHOR }}">
    <title>{{ SITENAME }}{% block title %}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
{% endif %}
{% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
{% endif %}
{% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
{% endif %}
{% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
{% endif %}

    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/simple-line-icons.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css">
		<!-- Code highlight color scheme -->
		{% if COLOR_SCHEME_CSS %}
				<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
		{% else %}
				<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
		{% endif %}
    <!-- Modernizr JS -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/respond.min.js"></script>
    <![endif]-->
  {% endblock head %}
  </head>
  <body>

  <header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
            </div>
            <div id="fh5co-navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li {% if not page %}class="active"{% endif %}><a href="{{ SITEURL }}"><span>Accueil <span class="border"></span></span></a></li>
                {% for title, link in MENUITEMS %}
                  <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }} <span class="border"></span></a></li>
                  {% endfor %}
                 {% elif DISPLAY_CATEGORIES_ON_MENU %}
                   {% for cat, null in categories %}
                     <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} <span class="border"></span></a></li>
                   {% endfor %}
                 {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- END .header -->

  <div id="fh5co-main">
    {% block slogan %}
    {% if SLOGAN %}
    <div class="fh5co-intro text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {% block text_slogan %}
            <h1 class="intro-lead">{{ SLOGAN }}</h1>
            {% endblock text_slogan %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock slogan %}

    <div class="container">
      {% block content_placeholder %}{% endblock content_placeholder %}
    </div>
  </div>

  <footer id="fh5co-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <p>Thème pour <a href="http://getpelican.com">Pelican</a> adapté de <a href="http://freehtml5.co/" target="_blank">Clean FREEHTML5.co</a>.</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- jQuery -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.waypoints.min.js"></script>
  <!-- Main JS -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
  {% include 'disqus_script.html' %}
  </body>
</html>
