{% extends "without-sidebar.html" %}

{% block title %} - Catégories{% endblock title %}

{% block content %}
  <h3 class="headline">Catégories</h3>
  <span class="line" style="margin-bottom:30px;"></span>
  <div class="clearfix"></div>

    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
