{% extends "with-sidebar.html" %}

{% block content %}
<div id="fh5co-portfolio">
  {% for article in articles_page.object_list %}
  <div class="fh5co-portfolio-item animate-box">
    <div class="fh5co-portfolio-description">
      <h2 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <p class="article-desc"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> | {{ article.locale_date }}</p>
      <p>
        {% if SHOW_FULL_ARTICLE %}
          {{ article.content }}
        {% elif article.summary %}
          {{ article.summary|truncate(280) }}
        {% endif %}
      </p>
      <p><a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary">Lire la suite</a></p>
    </div>
  </div>
  {% endfor %}

 {% if DEFAULT_PAGINATION %}
  <!-- Pagination -->
  <ul class="pagination">
    {% if articles_page.has_previous() %}
    <li>
      <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Articles plus récent</a>
    </li>
    {% endif %}
    {% if articles_page.has_next() %}
    <li>
      <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Articles plus vieux &rarr;</a>
    </li>
    {% endif %}
    <!-- Page {{ articles_page.number }} / {{ articles_paginator.num_pages }} -->
  </ul>
  {% endif %}
</div>
{% endblock content %}
