{% extends "base.html" %}

{% block title %}- {{ page.title }}{% endblock title %}

{% block slogan_text %}
<h1 class="intro-lead">{{ page.title }}</h1>
{% if page.subtitle %}<small> - {{ page.subtitle }}</small>{% endif %}
{% endblock slogan_text %}

{% block content_placeholder %}
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    {% block content %}
    {{ page.content }}
    {% endblock content %}
  </div>
</div>
{% endblock content_placeholder %}
