{% extends "base.html" %}      

{% block content_placeholder %}
<div class="row">
  <div class="col-md-12">
    {% block content %}{% endblock content %}
  </div>
</div>
{% endblock content_placeholder %}
