{% extends "base.html" %}

{% block content_placeholder %}
<div class="row">
  <div class="col-md-9">
    {% block content %}{% endblock content %}
  </div>

  <div class="col-md-3 animate-box">
    <div id="fh5co-sidebar">
      {% if 'categories' in SIDEBAR_DISPLAY %}
      <h3>Catégories</h3>
      <ul class="fh5co-list-check">
        {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content_placeholder %}
